<div class="box">
  <div class="about">
    <div class="initial">
      B / K
    </div>
    <div class="title animated fadeIn">
        <span>Cars Project <br>MIN Stack App</span>
    </div>
    <div class="line">
      ____
    </div>
    <div class="aboutme">
      <p class="space animated fadeIn">For project #2, I created a Full Stack Web App where users can post about their favorite cars. Once the users hit the site they can register, then create post that are seen on a live feed. Then can update post and also delete them. They can also update there profile.</p>
      <p class="animated animated fadeIn">Here are the links to this projects live <a style="color: #24292e; font-weight: bold; text-decoration: none;" href="https://warm-ridge-14864.herokuapp.com" target="_blank">Site</a> & <a style="color: #24292e; font-weight: bold; text-decoration: none;" href="https://github.com/brandonking7/Portfolio-Project-2" target="_blank">Github</a> repo.</p>
    </div>
  </div>
</div>
<div class="boxlist">
  <div class="project">
    <div class="cancel_positon">
      <button ui-sref="portfolio"class="cancel exit"><i style="color: grey;" class="material-icons md-48">clear</i></button>
    </div>
    <a href="https://warm-ridge-14864.herokuapp.com" target="_blank">
      <div id="card" class="card raised animated zoomIn">
        <div class="img-container">
          <img class="project-img" ng-src="images/carposts.png" alt="">
        </div>
      </div>
    </a>
  </div>
</div>
