body {
  font-family: 'avenir';
  /*background-color: red;*/

}
.box {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  float: left;
  /*background-color: red;*/
  width: 50%;
  height: auto;


  /*overflow: inherit;*/

}

.about {
  width: 60%;
  margin: 75px auto;

}

.initial {
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
  line-height: 3.7em;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: black;

}

.title {
  font-size: 24px;
  /*font-weight: l;*/
  padding-top: 45px;
}

.line {
  padding-bottom: 30px;
  font-weight: lighter;
  l
}

.aboutme {
  font-size: 18px;
  font-weight: lighter;
}
.space {
  padding-bottom: 30px;
}


.boxlist {
  /*flex-wrap: wrap;*/
  float: right;
  background-color: blue;
  width: 50%;
  height: auto;
  /*overflow-y: scroll;*/
}
.box-item {
  background-color: red;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right: 75px;
  width: 100%;
  height: 100%;

}
.project {
  background-color: yellow;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  /*display: inline;*/

  margin-right: 75px;
  width: 88%;
  height: 100%;

}
.cancel_positon {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 75px;
  width: 100%;
  margin-bottom: 0;
  
}
.cancel {
  display: flex;
  justify-content: center;

  cursor: pointer;
  /*margin: 0;*/
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.card {
  display: flex;

  position: relative;
  top: 100px;
  background: #fff;
  border-radius: 2px;
  height: 400px;
  width: 550px;

}


ul {
  list-style:none;
  padding-left: 0;


}

li {
  margin:auto;
  padding-bottom: 20px;

}

img{
  border-radius:50%;
  width: 250px;
  height: 250px;
}
/*.button{
  position: relative;
  border: none;
  outline:none;
  cursor: pointer;
  background: #89669b;
  color: white;
  padding: 18px 60px;
  border-radius: 2px;
  font-size: 22px;
}*/



.left {
  position: relative;
  bottom: -20px;
}

.right {
  position: relative;
  top: -70px;
}


.raised {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.raised:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.ripple{
  overflow:hidden;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;


  animation: ripple-animation 2s;
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}
/*h1 {
  font-size: 14px;
  color: blue;
}*/
@media all and (max-width: 650px) {
  .box {
    width: 100%;
    position: static;
  }
}
@media all and (max-width: 650px) {
  .boxlist {
    width: 100%;
  }
  .box-item {
display: inline;
  }
  li {
    display: flex;
    justify-content: center;
    margin:auto;
  }
}
/*@media all and (min-width: 40em) {
  .box {
    width: 50%;
  }
}*/
@media all and (min-width: 60em) {
  .list-item {
    width: 33.33%;
  }
}
@media only screen and (min-width: 1600px) {
  .post {
    width: 33.3333%;
  }
}

@media only screen and (max-width: 850px) {
  .post {
    .inner {
      padding: 0 7.5%;
    }
    .title {
      font-size: 1.5em;
    }
    .post_info {
      .date, .read_length {
        font-size: 1em;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .post {
    width: 100%;
    min-height: 300px;
    .title {
      font-size: 1.375em;
    }
    .post_info {
      .date, .read_length {
        font-size: .9em;
      }
    }
  }
}

.container {
  /*justify-content: flex-start | flex-end | center | space-between | space-around;*/
  float: right;

  width: 50%;

  background-color: red;
}
