<div class="box">
  <div class="about">
    <div class="initial">
      B / K
    </div>
    <div class="title animated fadeIn">
        <span>Blackjack Project <br> HTML Javascript jQuery CSS</span>
    </div>
    <div class="line">
      ____
    </div>
    <div class="aboutme">
      <p class="space animated fadeIn">For project #1, I created a simple game of Blackjack.

Once players come to the site, they are shown an alert with a tutorial with directions on how to play. They start the game by hitting deal to be dealt a set of cards where the goal of the game is to be the first to 21 or have a higher score than the dealer.</p>

      <!-- <p>Hello, I'm Brandon King - how's it going? I'm a self taugh UX Designer and Full Stack Web Developer</p> -->
      <p class="animated fadeIn">Here are the links to this projects live <a href="https://brandonking7.github.io/Blackjack/" target="_blank">Site</a> & <a href="https://github.com/brandonking7/Blackjack" target="_blank">Github</a> repo.</p>
    </div>
    <!-- <i class="material-icons md-48">clear</i> -->
  </div>
</div>
<div class="boxlist">
  <div class="project">
    <div class="cancel_positon">
      <button class="cancel exit"><i style="color: grey;" class="material-icons md-48">clear</i></button>
    </div>
    <div id="card" class="card raised animated zoomIn">
      <div class="img-container">
        <img class="project-img" ng-src="images/blackjack.png" alt="">
      </div>
    </div>
  </div>
</div>
