<div class="box">
  <div class="about">
    <div class="initial">
      B / K
    </div>
    <div class="title">

      <span>Full Stack Web Developer Brandon King</span>
    </div>
    <div class="line">
      ____
    </div>
    <div class="aboutme">
      <p class="space">Hello, I'm Brandon King - how's it going? I'm a self taugh UX Designer and Full Stack Web Developer</p>

      <p>Hello, I'm Brandon King - how's it going? I'm a self taugh UX Designer and Full Stack Web Developer</p>
    </div>
    <button class="ripple button">Login</button>
  </div>
</div>
<div class="boxlist">
  <div class="box-item">
    <ul class="left">
        <li>
          <a ui-sref="blackjack"><img class="raised" ng-src="images/circ1.png" alt="" /></a>
        </li>
        <li>
          <a ui-sref="about"><img class="raised" ng-src="images/circ1.png" alt="" /></a>
        </li>
        <li>
          <a ui-sref="about"><img class="raised" ng-src="images/circ1.png" alt="" /></a>
        </li>
    </ul>
    <ul class="right">
        <li>
          <a ui-sref="about"><img class="raised" ng-src="images/circ1.png" alt="" /></a>
        </li>
        <li>
          <a ui-sref="about"><img class="raised" ng-src="images/circ1.png" alt="" /></a>
        </li>
        <li>
          <a ui-sref="about"><img class="raised" ng-src="images/circ1.png" alt="" /></a>
        </li>
    </ul>
  </div>
</div>
