<!-- <div class="container"></div> -->
<!-- <ul >
  <li>
    <a ui-sref="livcert"><img ng-src="images/livcert.png"></a>
  </li>
  <li>
    <a ui-sref="giig"><img ng-src="images/circ1.png"></a>
  </li>
  <li>
    <a ui-sref="livcert"><img ng-src="images/livcert.png"></a>
  </li>
  <li>
    <a ui-sref="giig"><img ng-src="images/circ1.png"></a>
  </li>
  <li>
    <a ui-sref="livcert"><img ng-src="images/livcert.png"></a>
  </li>
  <li>
    <a ui-sref="giig"><img ng-src="images/circ1.png"></a>
  </li>
</ul> -->
<!-- <div class="container"> -->
    <!-- <div class="row" style="background: lightblue;">
        <div id="sq" class="col-md-6" style="background: lightblue"><p>First Chhhjewehwjhwehwjejwejwhwhejwhejwejhwehjwwwehol</p></div>
        <div id="sq1" class="col-md-6" style="background: red">Second Col</div>
    </div> -->
    <!-- <div class="block">
      <p class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos illum dolorum modi officia quo voluptatum in, veniam aliquid pariatur ipsum, animi cumque? Eius sint, mollitia ipsa laboriosam et error nostrum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit recusandae culpa quisquam iusto atque sed reprehenderit doloribus.</p>
    </div> -->
    <div class="box">
      <div class="about">
        <div class="initial">
          B / K
        </div>
        <div class="title">

          <span>Full Stack Web Developer Brandon King</span>
        </div>
        <div class="line">
          ____
        </div>
        <div class="aboutme">
          <p class="space">Hello, I'm Brandon King - how's it going? I'm a self taugh UX Designer and Full Stack Web Developer</p>

          <p>Hello, I'm Brandon King - how's it going? I'm a self taugh UX Designer and Full Stack Web Developer</p>
        </div>
      </div>
    </div>
    <div class="boxlist">
      <div class="box-item">
        <ul class="left">
            <li>
              <img ng-src="images/circ1.png" alt="" />
            </li>
            <li>
              <img ng-src="images/circ1.png" alt="" />
            </li>
            <li>
              <img ng-src="images/circ1.png" alt="" />
            </li>
        </ul>
        <ul class="right">
          <li>
            <img ng-src="images/circ1.png" alt="" />
          </li>
          <li>
            <img ng-src="images/circ1.png" alt="" />
          </li>
          <li>
            <img ng-src="images/circ1.png" alt="" />
          </li>
        </ul>
      </div>
    </div>


<!-- </div> -->
