<div class="box">
  <div class="about">
    <div class="initial">
      B / K
    </div>
    <div class="title">

      <span>Full Stack Web Developer <br>
        Brandon King</span>
    </div>
    <div class="line">
      ____
    </div>

    <!-- <div ng-repeat="item in $ctrl.items">
      {{ item.title }} {{ item.name }}
    </div> -->

    <div class="aboutme">
      <p class="space">Hello, I'm Brandon King - how's it going? I'm a Full Stack Web Developer and self taught UX Designer. My Portfolio site it's self is a NodeJs app with Angular Js on the frontend. I'm currently looking for work in the Atlanta area.</p>
      <p>Here are links to my <a href="https://twitter.com/BrandonKing4787" target="_blank">Twitter</a> , <a href="https://www.linkedin.com/in/brandonking7/" target="_blank">LinkedIn</a>, & <a href="https://github.com/brandonking7" target="_blank">Github</a>. Feel free to shoot me an <a href="mailto:brandonmking7@gmail.com">Email</a>.<br>You can also download my <a href="images/BrandonKingResume.pdf" download>Resume</a></p>
    </div>

    <button ui-sref="home">Home</button>
  </div>
</div>
<div class="boxlist">
  <div class="box-item">
    <ul id="project-list" class="left">

        <li>
          <a ui-sref="livcert"><img class="raised img-content" ng-src="images/circ1.png" alt="" /></a>
        </li>

        <li>
          <a  ui-sref="cornholer"><img class="raised ripple img-content" ng-src="images/procornholer.png" alt="" /></a>
        </li>
        <li>
          <a ui-sref="giig"><img class="raised img-content" ng-src="images/giig.png" alt="" /></a>
        </li>
    </ul>
    <ul id="project-list" class="right">
        <li>
          <a ui-sref="blackjack"><img class="raised img-content" ng-src="images/blackjcirc.png" alt="" /></a>
        </li>
        <li>
          <a ui-sref="cars"><img class="raised img-content" ng-src="images/cars.png" alt="" /></a>
        </li>
        <li>
          <a ui-sref="vagabond"><img class="raised img-content" ng-src="images/city.png" alt="" /></a>
        </li>
    </ul>
  </div>

</div>
