<div class="box">
  <div class="about">
    <div class="initial">
      B / K
    </div>
    <div class="title animated fadeIn">
        <span>CitytoCity Project <br> Ruby on Rails</span>
    </div>
    <div class="line">
      ____
    </div>
    <div class="aboutme">
      <p class="space animated fadeIn">A simple to use application for users to read and post about popular tourist spots in various cities around the world. Users have access to full CRUD functionality and can view all types of posts for each city.</p>

      <!-- <p>Hello, I'm Brandon King - how's it going? I'm a self taugh UX Designer and Full Stack Web Developer</p> -->
      <p class="animated fadeIn">Here are the links to this projects live <a href="https://citi2citi.herokuapp.com/" target="_blank">Site</a> & <a href="https://github.com/brandonking7/city_to_city" target="_blank">Github</a> repo.</p>
    </div>
    <!-- <i class="material-icons md-48">clear</i> -->
  </div>
</div>
<div class="boxlist">
  <div class="project">
    <div class="cancel_positon">
      <button class="cancel exit"><i style="color: grey;" class="material-icons md-48">clear</i></button>
    </div>
    <div id="card" class="card raised animated zoomIn">
      <div class="img-container">
        <img class="project-img" ng-src="images/blackjack.png" alt="">
      </div>

    </div>
  </div>
</div>
