<div class="container">
 <div class="bg-img animated fadeIn">
    <span class="star"></span>
      <span class="star red"></span>
        <span class="star pink"></span>
      <span class="star blue"></span>
    <span class="star yellow"></span>
            <!-- <span class="star black"></span> -->
    <div class="intro-text animated fadeInUp">
        <div class="pos">
          <h2>BRANDON KING</h2>
          <h4>Full Stack Web Developer</h4>
        </div>
      <a ui-sref="portfolio" class="animated infinite pulse">PORTFOLIO</a>
    </div>
  </div>
</div>
