<div class="box">
  <div class="about">
    <div class="initial">
      B / K
    </div>
    <div class="title animated fadeIn">
        <span>GiiG Project<br>Angular + Rails App</span>
    </div>
    <div class="line">
      ____
    </div>
    <div class="aboutme">
      <p class="space animated fadeIn">GiiG is a modern staffing aid for restaurants in the style of Uber. Ogranizations post jobs. The notice is emailed out to all qualified job seekers. The first job seeker who responds gets the job and both parties are notified.
      </p>
      <p class="animated fadeIn">Here are the links to this projects live <a style="color: #24292e; font-weight: bold; text-decoration: none;" href="https://pure-reaches-61040.herokuapp.com/users/sign_in" target="_blank">Site</a> & <a style="color: #24292e; font-weight: bold; text-decoration: none;" href="https://github.com/brandonking7/GIIG" target="_blank">Github</a> repo.</p>
    </div>
  </div>
</div>
<div class="boxlist">
  <div class="project">
    <div class="cancel_positon">
      <button class="cancel exit"><i style="color: grey;" class="material-icons md-48">clear</i></button>
    </div>
    <div id="card" class="card raised animated zoomIn">
      <div class="img-container">
        <a href="https://pure-reaches-61040.herokuapp.com/users/sign_in" target="_blank">
          <img class="project-img" ng-src="images/jobs.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
